@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #093601;
    --cor02: #53df7154;
    --cor03: #15e7435e;
    --cor04: #296937;
    --cor05: #10B534;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);    
    font-family: var(--fonte-padrao);  
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor05), var(--cor01));
    padding: 40px 40px 20px 40px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);    
}

header > p {
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
    font-weight: normal;
    margin-top: 20px;    
    
}

nav {
    padding: 10px;
    background-color: var(--cor01);
    box-shadow: 0px 9px 9px rgb(0 0 0 / 20%);    
}

nav a {    
    border-radius: 5px;
    color: rgb(0, 255, 0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor05);
    color: var(--cor01);
    text-decoration: underline;
    transition: 0.5s;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

main > h1 {
    font-family: var(--fonte-android);
    color: var(--cor01);
}

main > h3 {
    background-image: linear-gradient(to right, var(--cor02),white);
    font-family: var(--fonte-android);
    padding: 5px;
    font-weight: normal;
    color: var(--cor01);  
}

main p {
    margin: 10px auto 10px auto;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
}

main strong {
    color: rgb(18, 139, 18);
    font-weight: bolder;
}

main a {
    color: var(--cor01);
    font-weight: bolder;
    background-color: var(--cor03);
    padding: 3px;
}

main a::after {
    content: '\00A0\1F517';
}

main a:hover {
    color: var(--cor05);
}

main img {    
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    background-color: var(--cor01);
    margin: 0px -20px 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    padding: 10px;
    background-color: var(--cor03);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

aside > h1 {
    padding: 5px;
    background-color: var(--cor01);
    margin: -10px -10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: var(--cor01);
}

footer p {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: white;
}

footer a {
    text-decoration: underline;
    color: var(--cor05);
}